# Mongo DB Connection String
# --------------------------
# MONGO_URL = ""

# NEXT_AUTH_URL = "http://localhost:3000/"

# SECRET = ""

# Get this from Google Console and generate your own
# ---------------------------------------------------
# GOOGLE_CLIENT_ID = ""
# GOOGLE_CLIENT_SECRET = ""

# Firebase Storage
# ---------------------------
# FIREBASE_API_KEY=""
# FIREBASE_AUTH_DOMAIN=""
# FIREBASE_PROJECT_ID=""
# FIREBASE_STORAGE_BUCKET=""
# FIREBASE_MESSAGING_SENDER_ID=""
# FIREBASE_APP_ID=""
# FIREBASE_MEASUREMENT_ID=""

# Rules for Storage Firebase
# ---------------------------------
# rules_version = '2';
# service firebase.storage {
#   match /b/{bucket}/o {
#     match /{allPaths=**} {
#       allow read;
#       allow write: if
#       request.resource.size < 2 * 1024 * 1024 &&
#       request.resource.contentType.matches('image/.*')
#     }
#   }
# }