@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
  @apply grid;
  grid-template-columns: 0.4fr 0.6fr;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 60s linear infinite;
}

label {
  @apply text-gray-500 text-sm leading-tight;
}

label + input {
  margin-top: -2px;
}
select,
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  @apply block w-full mb-4 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-200;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}

button,
.button {
  @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
  @apply border border-gray-300 rounded-xl px-6 py-2;
}

.custom-button {
  @apply max-w-2xl mx-auto;
}

button[type="submit"],
.submit,
button.primary {
  @apply border-primary bg-primary text-white;
}

button[type="submit"]:disabled,
submit:disabled {
  @apply cursor-not-allowed bg-red-400;
}

div.tabs > * {
  @apply bg-gray-300 text-gray-700 rounded-full py-2 px-4;
}

div.tabs > *.active {
  @apply bg-primary text-white;
}

.flying-button-parent button {
  @apply border-primary bg-primary text-white rounded-full;
}
